@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
    margin-bottom: 0px;
}

header > img {
    align-self: center;
    border: 2px solid black;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;    
}

header > img:hover {
    border: 2px solid white;
    transition: .3s;
}

header > nav {
    display: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}