@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: 2fr 1fr 5fr 1fr;
    grid-template-columns: 200px 400px 200px;
}

.topo {
    background-color: blue;

    grid-area: 1/1/2/4;
}

.menu {
    background-color: yellow;

    grid-area: 2/1/3/4;
}

.principal {
    background-color: red;

    grid-area: 3/1/4/3;
}

.secundario {
    background-color: lime;

    grid-area: 3/3/4/4;
}

.rodape {
    background-color: magenta;

    grid-area: -1/1/-2/-1;
}